$background-image-url: '/landing_page/homeBackground.svg';
$subheading-color: #efdbfc;
$cursive-color: #fed449;

.container {
  @include flex-col;

  flex-direction: column-reverse;
  background: url($background-image-url);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.article {
  @include flex-col;
  @include align-c;

  width: 100%;
  position: absolute;
  bottom: 0;
  height: 35%;
}

.heading {
  font-size: 5rem;
}

.cursiveFont {
  font-size: 6rem;
  margin-left: 2rem;
  color: $cursive-color;
}

.subHeading {
  color: $subheading-color;
}

.footer {
  align-self: center;
  margin-bottom: 5rem;
}
