$background-image-url: '/landing_page/homeBackground.svg';

.container {
  @include flex-row;

  background: url($background-image-url);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.article {
  @include flex-col;
  @include align-c;

  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 40%;
}

.heading {
  font-size: 5rem;
}

.cursiveFont {
  font-size: 6rem;
  margin-left: 2rem;
  color: #fed449;
}

.subHeading {
  color: #efdbfc;
}
