@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.txt {
  line-height: 1.6;
  margin: unset;

  &.bold {
    font-weight: bold;
  }

  &.noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.cursive {
    font-family: Caveat, cursive;
  }
}

.xs {
  font-size: 0.75rem;
}

.s {
  font-size: 1rem;
}

.xm {
  font-size: 1.25rem;
}

.m {
  font-size: 1.5rem;
}

.l {
  font-size: 1.75rem;
}

.xl {
  font-size: 2rem;
}

.twoxl {
  font-size: 2.25rem;
}

.threexl {
  font-size: 2.5rem;
}

.fourxl {
  font-size: 3rem;
}

.primary {
  color: white;
}

.secondary {
  color: #6c757d;
}

.danger {
  color: #dc3545;
}

.success {
  color: #28a745;
}

.warning {
  color: #ffc107;
}

.dark {
  color: $dark-font-color;
}
