.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-ac {
    align-items: center;
}

.flex-jc {
    justify-content: center;
}

.flex-c {
    @extend .flex-ac;
    @extend .flex-jc;
}

.justify-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1 0 0;
}

.stretched {
    align-self: stretch;
}

.align-items-end {
    align-items: flex-end;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}