@mixin flex-fill {
    flex: 1 0 0;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
}

@mixin justify-c {
    justify-content: center;
}

@mixin align-c {
    align-items: center;
}

@mixin flex-c {
    @include align-c;
    @include justify-c;
}

@mixin flex-row-y-c {
    @include flex-row;
    @include align-c;
}

@mixin flex-eq-row {
    @include flex-row;

    &>div {
        @include flex-fill;
    }
}

@mixin flex-eq-col {
    @include flex-col;

    &>div {
        @include flex-fill;
    }
}